<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="loxon" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LoXoN</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href="bower_components/angular-material/angular-material.min.css" media="all" rel="stylesheet" type="text/css" />
</head>


<body ng-app="LoXoN" layout="row" ng-cloak>

<md-sidenav layout="column" class="sidenav1" md-is-locked-open='true'>
  <ul>
    <li>LoXoN v<span app-version></span></li>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple" ng-class="{'active' : isSelected()}" ng-href="#/home" ng-click="focusSection()" href="#/home" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">Home</span>
      </a>
    </menu-link>
    </li>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple" ng-class="{'active' : isSelected()}" ng-href="#/oxford" ng-click="focusSection()" href="#/oxford" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">Oxford -> London</span>
      </a>
    </menu-link>
    </li>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple"  ng-class="{'active' : isSelected()}" ng-href="#/london" ng-click="focusSection()" href="#/london" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">London -> Oxford</span>
      </a>
    </menu-link>
    </li>
  </ul>

  <md-switch ng-model="data.cb1" aria-label="Switch 1">
    Oxford Tube {{ data.cb1 }}
  </md-switch>

  <md-switch ng-model="data.cb2" aria-label="Switch 2">
    X90 {{ data.cb2 }}
  </md-switch>

</md-sidenav>

<md-content flex layout="column">
    <ng-view>
        View Content
    </ng-view>
</md-content>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <!--<script src="bower_components/angular-material/angular-material.js"></script>-->
  <script src="app.js"></script>
  <script src="components/home/homeController.js"></script>
  <script src="components/oxford/oxfordController.js"></script>
  <script src="components/london/londonController.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6SHuW1Ajo6dnkZtLH6OtGEmHxw77CwAA"></script>
</body>
</html>
