<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="loxon" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="loxon" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LoXoN</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href="bower_components/angular-material/angular-material.min.css" media="all" rel="stylesheet" type="text/css" />
</head>


<body ng-app="LoXoN" layout="row" ng-cloak>

<md-sidenav layout="column" class="sidenav1" md-is-locked-open='true'>

  <span class="logo">
    <ng-md-icon icon="directions_bus" size="48"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M4 16c0 .88.39 1.67 1 2.22V20c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h8v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4v10zm3.5 1c-.83 0-1.5-.67-1.5-1.5S6.67 14 7.5 14s1.5.67 1.5 1.5S8.33 17 7.5 17zm9 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6H6V6h12v5z"></path></svg></ng-md-icon>
    LoXoN v<span app-version></span>
  </span>

  <ul>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple" ng-class="{'active' : isSelected()}" ng-href="#/home" ng-click="focusSection()" href="#/home" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">Home</span>
      </a>
    </menu-link>
    </li>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple" ng-class="{'active' : isSelected()}" ng-href="#/oxford" ng-click="focusSection()" href="#/oxford" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">Oxford → London</span>
      </a>
    </menu-link>
    </li>
    <li>
    <menu-link section="page" class="ng-isolate-scope">
      <a class="md-button md-ink-ripple"  ng-class="{'active' : isSelected()}" ng-href="#/london" ng-click="focusSection()" href="#/london" aria-label="Autocomplete">
        <span class="ng-binding ng-scope">London → Oxford</span>
      </a>
    </menu-link>
    </li>
  </ul>

  <span>
    <ng-md-icon icon="settings" size="48">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="25">
        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
      </svg>
    </ng-md-icon>
    Services
  </span>

  <md-switch ng-model="data.cb1" aria-label="Switch 1" class="md-warn" >
    Oxford Tube
    <!--{{ data.cb1 }}-->
  </md-switch>

  <md-switch ng-model="data.cb2" aria-label="Switch 2" class="md-warn" >
    X90
    <!--{{ data.cb2 }}-->
  </md-switch>


</md-sidenav>

<md-content flex layout="column">
    <ng-view>
        View Content
    </ng-view>
</md-content>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>

  <script src="app.js"></script>
  <script src="components/home/homeController.js"></script>
  <script src="components/oxford/oxfordController.js"></script>
  <script src="components/london/londonController.js"></script>
  <script src="components/version/version.js"></script>
  <script src="services/CoachStopService.js"></script>
  <script src="services/CoachInfoService.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6SHuW1Ajo6dnkZtLH6OtGEmHxw77CwAA"></script>
  <script src="https://material.angularjs.org/latest/docs.js"></script>
</body>
</html>
