/* app css stylesheet */

#oxfordMap, #londonMap {
  width: 100%;
  height:100vh;
}

md-sidenav  {
  width: 110px;
  height:100%;
  padding:20px;
  background-color: #106CC8;
  border-right: 1px solid #eee;
}

md-content {
  height:100%;
}

.active {
  background-color: #00A000;
}

.logo {
  border-bottom: 1px solid #eee;
  padding: 20px;
}

.home_div {
  padding-top: 20px;
  padding-left: 50px;
}

.home_div p {
  font-size: larger;
}

.settings_span {
  border-top: 1px solid #eee;
}

.flex {
  background-image: url("/app/assets/oxford.jpg");
  background-size: 100%;
}